@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* navbar */
nav {
  height: 72px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  padding: 3%;
  transition: 0.4s all ease-in-out;
}
nav ul li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 0.95rem;
  font-weight: 500;
}

nav ul li:hover {
  background: #37e1ff;
  border-radius: 3px;
}
/* header */
.branding {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
.branding h1 {
  font-weight: bolder;
  text-transform: uppercase;
}
.branding p {
  color: rgb(47, 47, 47);
  font-weight: 500;
  font-size: 14px;
}
/* form */
.form-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2%;
}
.form-section .right,
.left {
  width: 50%;
}
.form-section .left {
  padding: 5%;
}
.form-section .via-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.form-section .via-buttons a {
  background: #000;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}
.form-section .via-buttons img {
  width: 30px;
}
.btn {
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.btn img {
  width: 30px;
}
.btns .btn {
  background: black;
  color: white;
}
form {
  width: 100%;
}
form div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
}
form div label {
  text-transform: capitalize;
  font-weight: 700;
  background: white;
  letter-spacing: 2px;
  position: absolute;
  margin-left: 30px;
  margin-top: -10px;
  font-size: 14px;
}
form div input,
textarea {
  height: 50px;
  border: 2px solid rgb(149, 149, 149);
  padding: 1%;
}
textarea {
  height: 150px;
}
/* media queries */

@media screen and (max-width: 991.98px) {
  .branding {
    width: 80%;
  }
  .form-section {
    width: 100%;
  }
  .via-buttons a {
    height: 50px;
    font-size: 12px !important;
  }
  .via-buttons img {
    width: 20px;
  }
  .btn {
    height: 45px;
    font-size: 14px;
  }
  form div input {
    height: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .form-section {
    flex-direction: column-reverse;
  }
  .left {
    width: 80%;
  }
  .right {
    width: 100%;
  }
}
@media screen and (max-width: 575.98px) {
  .branding {
    text-align: center;
  }

  .branding p {
    text-align: justify;
    font-size: 12px;
  }
  nav {
    width: 90%;
    justify-content: space-between;
  }
  nav img {
    width: 40px;
  }
  nav ul {
    gap: 5px;
    margin-right: 30px;
    text-align: right;
  }
  nav ul li a {
    font-size: 14px;
    text-align: right;
  }
}
@media screen and (max-width: 380.98px) {
  .left {
    width: 100%;
  }
}
